<div class="cover">
    <div class="cover-text">
        <p>
            Catering Company
        </p>
        <p>
            Find out more about our diets...
        </p>
    </div>
</div>

<div class="card-flex">

    <mat-card>
        <mat-card-header>
          <mat-card-title>Our Diets</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
           We have selection of four diets for you...
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>ALL DIETS</button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Our Menu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
           Find out what we have for dinner for today...
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>MENU</button>
        </mat-card-actions>
      </mat-card>


      <mat-card>
        <mat-card-header>
          <mat-card-title>About Us</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
           We found our company 10 years ago...
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>FIND OUT MORE</button>
        </mat-card-actions>
      </mat-card>

</div>